---
layout: base
---

{% if site.show_drafts %}
{% assign posts = site.posts %}
{% else %}
{% assign posts = site.posts | where: "draft",false %}
{% endif %}

<div class="main-content-feed">
  {% for post in posts limit:5 %}
  <article class="main-content-feed-item" itemprop="blogPosts" itemscope itemtype="http://schema.org/BlogPosting">
    <h2 itemprop="name headline">
      <a href="{{ post.url | absolute_url }}">
        {{ post.title }}
      </a>
    </h2>

    <div itemprop="text">
      <p class="u-text-faded u-margin-bottom-none">
        🕒&nbsp;&nbsp;Posted <span><time datetime="{{ post.date | date_to_rfc822 }}" itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}</time></span>
      </p>

      {{ post.content | split: site.break_tag | first }}

      {% if post.content contains site.break_tag %}
      <div class="u-text-right">
        <a href="{{ post.url }}">Read more…</a>
      </div>
      {% endif %}
    </div>
  </article>

  {% if forloop.index0 == 2 %}
  <div class="main-content-feed-sponsor">
    {% include sponsor.html sponsor='iwantmyname' %}
  </div>
  {% endif %}
  {% endfor %}

  <p class="u-text-center">
    For more posts visit
    <br />
    <a href="/archive" title="Archive">
      the Archive
    </a>
  </p>
</div>
