---
layout: base
---

{% if site.show_drafts %}
{% assign posts = site.posts %}
{% else %}
{% assign posts = site.posts | where: "draft",false %}
{% endif %}

<div class="main-content-feed">
  {% assign pinned_posts = site.posts | where: "pinned",true %}
  {% for post in pinned_posts %}
  <article class="main-content-feed-item main-content-feed-item-pinned"
    itemprop="blogPosts"
    itemtype="http://schema.org/BlogPosting"
    itemscope >
    <h4 class="u-underline">Featured Post</h4>
    <h2 itemprop="name headline">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h2>

    <div itemprop="text">
      <p>
        🗓&nbsp;&nbsp;Posted <span><time datetime="{{ post.date | date_to_rfc822 }}"
            itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}</time></span>
        {% if post.date_modified %}
        <span>
          &nbsp;&nbsp;|&nbsp;&nbsp;
          🔄&nbsp;Last Updated <span><time datetime="{{ post.date_modified | date_to_rfc822 }}"
              itemprop="dateModified">{{ post.date_modified | date: "%b %-d, %Y" }}</time></span>
        </span>
        {% endif %}
      </p>
    </div>
  </article>
  {% endfor %}



  {% for post in posts limit:7 %}
  {% unless post.pinned %}
  <article class="main-content-feed-item" itemprop="blogPosts" itemscope itemtype="http://schema.org/BlogPosting">
    <h2 itemprop="name headline">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h2>

    <div itemprop="text">
      <p>
        🗓&nbsp;&nbsp;Posted <span><time datetime="{{ post.date | date_to_rfc822 }}"
            itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}</time></span>
        {% if post.date_modified %}
        <span class="post-date-last-modified">
          &nbsp;&nbsp;|&nbsp;&nbsp;
          Last Updated <span><time datetime="{{ post.date_modified | date_to_rfc822 }}"
              itemprop="dateModified">{{ post.date_modified | date: "%b %-d, %Y" }}</time></span>
        </span>
        {% endif %}
      </p>

      {{ post.excerpt }}

      {% if post.content contains site.excerpt_separator %}
      <div class="u-text-right">
        <a href="{{ post.url }}">Read more…</a>
      </div>
      {% endif %}
    </div>
  </article>

  {% if forloop.index0 == 2 %}
  <div class="main-content-feed-sponsor">
    <!-- GOOGLE AD INSERTED AUTOMATICALLY HERE -->
  </div>
  {% endif %}
  {% endunless %}
  {% endfor %}

  <p class="u-text-center">
    For more posts visit
    <br />
    <a href="/archive" title="Archive">
      the Archive
    </a>
  </p>
</div>
