<li class="projects-list-item" itemprop="url">
  <a href="{{ item.url }}"
     title="{{ item.title }}"
     itemprop="name">
    {{ item.title }}
  </a>
  {% if item.description %}
  <p>
    {{ item.description | markdownify }}
  </p>
  {% endif %}
  {% if item.image %}
  <p>
    {% unless item.image contains '://'%}
    <a href="{{ '/' | append: item.image | prepend: site.projects_images }}">
      <img src="{{ '/' | append: item.image | prepend: site.projects_images }}" />
    </a>
    {% else %}
    <a href="{{ item.image }}">
      <img src="{{ item.image }}" />
    </a>
    {% endunless %}
  </p>
  {% endif %}
</li>
