{% if site.favicon %}
<!-- Favicons for all browsers and unfortunately IE8/9 -->
<link rel="icon" href="{{ site.favicon.png | prepend: site.assets_media }}">
<!--[if IE]><link rel="shortcut icon" href="{{ site.favicon.ico }}" /><![endif]-->
<link rel="apple-touch-icon" sizes="144x144" href="{{ site.favicon.png | prepend: site.assets_media }}">
<link rel="apple-touch-icon" sizes="114x114" href="{{ site.favicon.png | prepend: site.assets_media }}">
<link rel="apple-touch-icon" sizes="72x72" href="{{ site.favicon.png | prepend: site.assets_media }}">
<link rel="apple-touch-icon" href="{{ site.favicon.png | prepend: site.assets_media }}">
<link rel="apple-touch-icon-precomposed" href="{{ site.favicon.png | prepend: site.assets_media }}">

<!-- Because IE10 ignores conditionals and doesn't support PNG for favicons, we use start screen tile icons!
   - http://www.jonathantneal.com/blog/understand-the-favicon/ -->
<meta name="msapplication-TileColor" content="#D83434">
<meta name="msapplication-TileImage" content="{{ site.favicon.png | prepend: site.assets_media }}">

{% if site.favicon.theme_color %}
<meta name="theme-color" content="{{ site.favicons.theme_color }}">
{% endif %}
{% endif %}
