<script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.3/fetch.min.js" async></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/picturefill/3.0.3/picturefill.min.js" async></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/4.0.1/lazysizes.min.js" async></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/domready/1.0.8/ready.min.js" async></script>
<script src="/assets/scripts/konami.js" async></script>
<script src="/assets/scripts/site.js" async></script>

{% include foot/checkins.html %}
{% include foot/shots.html %}
