<footer class="main-footer">
  <ul class="main-footer-nav">
    <li class="main-footer-nav-item">
      <a href="https://twitter.com/{{ site.social.twitter }}" title="Twitter">
        Twitter
      </a>
    </li>
    <li class="main-footer-nav-item">
      <a href="https://github.com/{{ site.social.github }}" title="Github">
        Github
      </a>
    </li>
    <li class="main-footer-nav-item">
      <a href="https://www.instagram.com/{{ site.social.instagram }}/" title="Instagram">
        Instagram
      </a>
    </li>
    <li class="main-footer-nav-item">
      <a href="https://unsplash.com/@{{ site.social.unsplash }}/" title="Unsplash">
        Unsplash
      </a>
    </li>
    <li class="main-footer-nav-item">
      <a href="{{ '/feed.xml' | absolute_url }}" title="RSS Feed">
        RSS
      </a>
    </li>
  </ul>

  <p>Looking for a career building large scale, powerful web products? <br /><a href="https://www.sendwithus.com/careers?ref=brandonb.ca">Come work with me.</a></p>
  <br />
  <p><small>&copy; 2009 -&nbsp;<time datetime="{{ site.time | date_to_rfc822 }}" itemprop="datePublished">{{ site.time | date: "%Y" }}</time></small></p>
</footer>
