<footer class="main-footer">
  <ul class="main-footer-nav">
    <li class="main-footer-nav-item">
      <a href="https://twitter.com/{{ site.social.twitter }}" title="Twitter">
        Twitter
      </a>
    </li>
    <li class="main-footer-nav-item">
      <a href="https://github.com/{{ site.social.github }}" title="Github">
        Github
      </a>
    </li>
    <li class="main-footer-nav-item">
      <a href="https://plus.google.com/+{{ site.social.googleplus }}?rel=author" title="Google+">
        Google+
      </a>
    </li>
    <li class="main-footer-nav-item">
      <a href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" title="RSS Feed">
        RSS
      </a>
    </li>
  </ul>

  <p>Want to send email better? <br /><a href="https://www.sendwithus.com?ref=brandonb.io">Try Sendwithus for free</a>!</p>
  <br />
  <p><small>&copy; 2009 -&nbsp;<time datetime="{{ site.time | date_to_rfc822 }}" itemprop="datePublished">{{ site.time | date: "%Y" }}</time></small></p>
</footer>
