<header class="main-header" role="banner" itemscope itemtype="http://schema.org/WPHeader">
  <a href="/" title="{{ site.description | strip_html }}" class="main-header-title">
    <h1 itemprop="headline">
      {{ site.title }}
    </h1>
    <p>
      Hi, I'm {{ site.author.name }}!
    </p>
  </a>

  <img class="main-header-image img-rounded"
       src="{{ '/avatar_256.jpg' | prepend: site.assets_images }}">

  <p class="main-header-description">
    {{ site.description }}
  </p>

  <nav role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
    {% assign navurl = page.url | remove: 'index.html' %}
    {% assign _pages = site.pages | sort: 'order' %}
    <ul class="main-header-nav">
      <li class="main-header-nav-item" itemprop="url">
        <a href="/" title="Blog" itemprop="name">
          Blog
        </a>
      </li>
      {% for page in _pages %}
        {% if page.include_in_nav %}
        <li class="main-header-nav-item" itemprop="url">
          <a href="{{ page.url }}"
             {% if page.url == navurl %}class="active"{% endif %}
             {% if page.target %} target="{{ page.target }}"{% endif %}
             title="{{ page.title }}"
             itemprop="name">
            {{ page.title }}
          </a>
        </li>
        {% endif %}
      {% endfor %}
      <li class="main-header-nav-item" itemprop="url">
        <a href="/archive" title="Archive" itemprop="name">
          Archive
        </a>
      </li>
    </ul>
  </nav>
</header>
