{% if paginator.posts %}
<div class="main-content-feed">
  {% for post in paginator.posts %}
  {% unless post.draft %}
  <article class="main-content-feed-item" itemprop="blogPosts" itemscope itemtype="http://schema.org/BlogPosting">
    <h2 itemprop="name headline">
      <a href="{{ post.url | prepend: site.baseurl }}">
        {{ post.title }}
      </a>
    </h2>

    <div itemprop="text">
      <p class="u-text-faded u-margin-bottom-none">
        🕒&nbsp;&nbsp;Posted <span><time datetime="{{ post.date | date_to_rfc822 }}" itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}</time></span>
      </p>

      {{ post.content | split: '<!-- break -->' | first }}

      {% if post.content contains '<!-- break -->' %}
      <div class="u-text-right">
        <a href="{{ post.url }}">Read more…</a>
      </div>
      {% endif %}
    </div>
  </article>
  {% endunless %}

  {% if forloop.index0 == 2 %}
  <div class="main-content-feed-sponsor">
    <a href="http://faviconvalley.show/iwantmyname">
      <p>
        This site brought to you by:
      </p>
      <img src="https://d1a5a04sfj6djm.cloudfront.net/sponsors/iwantmyname.png" alt="iWantMyName.com" />
      <p>
        Get your new domain today!
      </p>
    </a>
  </div>
  {% endif %}
  {% endfor %}
  {% else %}
    <h3>No posts found :(</h3>
  {% endif %}

  <nav role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
    <p class="main-content-pagination-description">
      Page: {{ paginator.page }} of {{ paginator.total_pages }}
    </p>
    <ul class="main-content-pagination">
      {% if paginator.previous_page %}
      <li class="main-content-pagination-item" itemprop="url">
        <a href="{{ paginator.previous_page_path }}" rel="prev" itemprop="name" title="Newer Posts">
          &larr; Newer posts
        </a>
      </li>
      {% else %}{% endif %}
      {% if paginator.next_page %}
      <li class="main-content-pagination-item" itemprop="url">
        <a href="{{ paginator.next_page_path }}" rel="next" itemprop="name" title="Older Posts">
          Older posts &rarr;
        </a>
      </li>
      {% else %}{% endif %}
    </ul>
  </nav>
</div>
