{% if paginator.posts %}
{% for post in paginator.posts %}
{% unless post.draft %}
<article itemprop="blogPosts" itemscope itemtype="http://schema.org/BlogPosting">
  <h2 itemprop="name headline">
    <a href="{{ post.url | prepend: site.baseurl }}">
      {{ post.title }}
    </a>
  </h2>
  <p>
    Posted
    <span itemprop="author" itemscope itemtype="http://schema.org/Person">
      {% if site.social.googleplus %}
        <a href="https://plus.google.com/+{{ site.social.googleplus }}?rel=author" target="_blank" itemprop="url">
          <span itemprop="name">{{ site.author.name }}</span>
        </a>
      {% else %}
        <span itemprop="name">{{ site.author.name }}</span>
      {% endif %}
    </span>
    on&nbsp;<time datetime="{{ post.date | date_to_rfc822 }}" itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}</time>
  </p>

  <div itemprop="text">
    {{ post.content | split: '<!-- break -->' | first }}
    {% if post.content contains '<!-- break -->' %}
    <a href="{{ post.url }}">Read more…</a>
    {% endif %}
  </div>
</article>
{% unless loop.last %}<hr />{% endunless %}

{% endunless %}
{% endfor %}
{% else %}
  <h3>No posts found :(</h3>
{% endif %}

<nav role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
  <ul>
    {% if paginator.previous_page %}
    <li itemprop="url">
      <a href="{{ paginator.previous_page_path }}" rel="prev" itemprop="name" title="Newer Posts">
        &larr; Newer posts
      </a>
    </li>
    {% else %}
    <li>
      &larr; Newer posts
    </li>
    {% endif %}
   <li>Page: {{ paginator.page }} of {{ paginator.total_pages }}</li>
    {% if paginator.next_page %}
    <li itemprop="url">
      <a href="{{ paginator.next_page_path }}" rel="next" itemprop="name" title="Older Posts">
        Older posts &rarr;
      </a>
    </li>
    {% else %}
    <li>
      Older posts &rarr;
    </li>
    {% endif %}
  </ul>
</nav>
