<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.meta_description }}{% endif %}">

<!-- Open Graph -->
<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.meta_description }}{% endif %}">
{% if page.url %}
<meta property="og:url" content="{{ page.url | absolute_url }}">
{% endif %}
<meta property="og:image" content="{% if post.share_image %}{{ post.share_image }}{% else %}{{ site.avatar_img | prepend: site.assets_media }}{% endif %}">

<!-- Twitter Cards  -->
<meta name="twitter:card" content="summary">
<meta name="twitter:image:src" content="{% if post.share_image %}{{ post.share_image }}{% else %}{{ site.avatar_img | prepend: site.assets_media }}{% endif %}">

