<header class="sidebar-header" role="banner" itemscope itemtype="http://schema.org/WPHeader">
  <a href="/" title="{{ site.description | strip_html }}" class="sidebar-header-title">
    <h1 class="u-margin-bottom-none" itemprop="headline">
      {{ site.title }}
    </h1>
  </a>

  <img class="sidebar-header-image"
       src="{{ site.avatar_img | prepend: site.assets_media }}"
       alt="Profile image representing VE7TZB">

  <p class="sidebar-header-description">
    {{ site.description }}
  </p>

  <nav role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
    {% assign navurl = page.url | remove: 'index.html' %}
    {% assign _pages = site.pages | sort: 'order' %}
    <ul class="sidebar-header-nav">
      <li class="sidebar-header-nav-item" itemprop="url">
        <a href="/" title="Blog" itemprop="name">
          Home
        </a>
      </li>
      {% for page in _pages %}
        {% if page.include_in_nav %}
        <li class="sidebar-header-nav-item" itemprop="url">
          <a href="{{ page.url }}"
             {% if page.url == navurl %}class="active"{% endif %}
             {% if page.target %} target="{{ page.target }}"{% endif %}
             title="{{ page.title }}"
             itemprop="name">
            {{ page.title }}
          </a>
        </li>
        {% endif %}
      {% endfor %}
      {%- for item in site.nav_links -%}
      <li class="sidebar-header-nav-item" itemprop="url">
        <a href="{{ item.url }}"
          title="{{ item.title }}"
          itemprop="name"
          {{ item.attrs }}>
          {{ item.title }}
        </a>
      </li>
      {%- endfor -%}
      {% comment %}
      <li class="sidebar-header-nav-item" itemprop="url">
        <a href="/qso/" title="Archive" itemprop="name">
          QSOs
        </a>
      </li>
      {% endcomment %}
    </ul>
  </nav>
</header>
