// 3rd-party
@import (less) 'normalize.css';
@import (less) 'tomorrow-night-eighties.css';

@import 'skeleton.less';
@import 'lightbox.less';

@mobile-width: 550px;

// Not sure where this should live...

// Thank you Spinkit - https://github.com/tobiasahlin/SpinKit
.u-loader {
  width: 4rem;
  height: 4rem;
  background-color: #222;
  margin: 4rem auto;
  -webkit-animation: cssLoader 1.2s infinite ease-in-out;
  animation: cssLoader 1.2s infinite ease-in-out;
}

@keyframes cssLoader {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }

  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }

  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

// Main Site CSS

html.konami-code,
html.konami-code * {
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" style="font-size:48px"><text y="48">🦄</text></svg>'), auto !important;
}

/* Once there is natural vertical overflow,
  it causes horizontal overflow, so stopping here. */
body {
  overflow-x: hidden;
}

picture {
  display: block;
  text-align: center;
}

// Thank you Chris!
// https://css-tricks.com/full-width-containers-limited-width-parents/

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.bordered {
  border-top: solid .3rem #222;
  border-bottom: solid .3rem #222;
}

.margin-lr {
  margin-left: 2rem;
  margin-right: 2rem;
}

.margin-tb {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.margin-top-large {
  margin-top: 6rem;
}

.margin-bottom-large {
  margin-bottom: 6rem;
}

.padding-lr {
  padding-left: 2rem;
  padding-right: 2rem;
}

.padding-tb {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.padding-top-large {
  padding-top: 4rem;
}

// Navigation

.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .u-unstyled-list;
}

.navigation-item {
  margin-bottom: 0;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;

  a {
    display: block;
    padding: 2rem;
    text-decoration: none;
    transition: background .2s;
  }

  a:hover,
  a:active {
    background: #222;
    color: #eee;
  }
}

// Main site wrapper

.site-wrapper {
  max-width: 600px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

// Main header
.main-header {
  .margin-top-large;
  .margin-bottom-large;
  .u-text-center;
}


.main-header-title,
.main-header-description,
.main-header-nav,
.main-footer-nav {
  .margin-lr;
}

@media (min-width: @mobile-width) {

  .main-header-title,
  .main-header-description,
  .main-header-nav,
  .main-footer-nav {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

.main-header-title {
  .bordered;
  .padding-tb;
  .margin-tb;
  display: block;
  text-decoration: none;

  p {
    margin-bottom: 1rem;
  }
}

.main-header-image {
  height: 8rem;

  .margin-tb;
}

.main-header-description {
  margin-bottom: 4rem;
}

.main-header-nav {
  .navigation;
  .bordered;
}

.main-header-nav-item {
  .navigation-item;
}

@media (min-width: @mobile-width) {
  .main-header-image {
    height: 16rem;
  }
}

// Main content
.main-content {
  .padding-top-large;
  .padding-lr;
}

@media (min-width: @mobile-width) {
  .main-content {
    padding-left: 0;
    padding-right: 0;
  }
}

.main-content-feed,
.archive-content-feed {
  .margin-bottom-large;
}

.main-content-feed-item {
  .margin-bottom-large;
}

.main-content-feed-item-pinned {
  display: block;
  padding: 3rem;
  border-radius: 5px;

  border: solid 1px rgb(152, 216, 208);
  background: rgb(192, 250, 242);
  color: #222;

  &:before {
    display: '';
    content: '';
  }
}

.archive-content-feed {
  ul {
    .u-unstyled-list;
  }
}

.archive-content-feed-item-draft,
.archive-content-feed-item-time {
  display: inline-block;
  width: 12rem;
}

.archive-content-feed-item-draft {
  color: #666;
}

// Main content post/page
.main-content-post,
.main-content-page {
  .margin-bottom-large;

  figure {
    // .full-width;
    .margin-top-large;
    .margin-bottom-large;
  }
}

// Fix lists globally
.main-content-post ol ul,
.main-content-post ul ul,
.main-content-post ol li,
.main-content-post ul li {
  margin-top: .5rem;
  margin-bottom: .5rem;
  margin-right: 0;
  margin-left: 0;
  padding: 0;
}

.main-content-post ol li,
.main-content-post ul li {
  padding-left: 2rem;
}

.main-content-post li p,
.main-content-post li p {
  display: inline;
}

.page-title,
.page-subtitle {
  display: inline;
}

.page-subtitle {
  color: #666;
}

.post-heading-anchor {
  display: block;
  float: right;
  font-size: 3rem;
  text-decoration: none;
}

.post-date-last-modified {
  color: #aaa;
}

.post-gallery {
  a {
    display: inline-block;
  }
}

// Main footer
.main-footer {
  .u-text-center;
}

.main-footer-nav {
  .navigation;
  .bordered;
  .margin-bottom-large;
}

.main-footer-nav-item {
  .navigation-item;
}

.post-disclaimer,
.post-updated {
  display: block;
  padding: 3rem;
  border-radius: 5px;
}

// Post disclaimer
.post-disclaimer {
  border: solid 1px rgb(136, 40, 40);
  background: rgb(121, 26, 26);
}

.post-disclaimer,
.post-disclaimer a {
  color: #eee;
}

// Post updated
.post-updated {
  border: solid 1px rgb(206, 202, 149);
  background: rgb(255, 250, 185);
  color: #222;

  &:before {
    display: '';
    content: '';
  }
}

// Images

.styled-image {
  margin-bottom: 2rem;
}


// Custom pages

// Projects

// #projects {
//   // something here soon
// }

.projects-list {
  .u-unstyled-list;
}

.projects-list-item {
  img {
    .margin-tb;
    max-height: 192px;
  }
}


// Swarm Check-ins

.checkin-map-wrapper {
  .checkin-map-loader-wrapper {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1021;
  }

  #checkin_map {
    position: relative;
    z-index: 1020;
  }
}

#checkin_map {
  height: 46rem;
  margin-top: 2rem;
  margin-left: -2rem;
  margin-right: -2rem;
  transition: opacity .2s ease;
}

@media (min-width: @mobile-width) {
  .checkin-map-wrapper {
    .full-width;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  #checkin_map {
    height: 60rem;
    margin-top: 4rem;
  }
}

.page-favicon-valley-podcast {

  thead th:last-child,
  tr td:last-child {
    text-align: right;
  }

  tbody tr:last-child {
    font-weight: bold;
    border-top: 1px solid #E1E1E1;
  }
}

@import 'dark-mode.less';
