// 3rd-party
@import (less) 'normalize.css';
@import (less) 'tomorrow-night-eighties.css';

@import 'skeleton.less';

@mobile-width: 550px;

// Not sure where this should live...

// Thank you Spinkit - https://github.com/tobiasahlin/SpinKit
.u-loader {
  width: 4rem;
  height: 4rem;
  background-color: #222;
  margin: 4rem auto;
  -webkit-animation: cssLoader 1.2s infinite ease-in-out;
  animation: cssLoader 1.2s infinite ease-in-out;
}

@keyframes cssLoader {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }

  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }

  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

// Main Site CSS

html.konami-code,
html.konami-code * {
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" style="font-size:48px"><text y="48">🦄</text></svg>'),
    auto !important;
}

/* Once there is natural vertical overflow,
  it causes horizontal overflow, so stopping here. */
body {
  overflow-x: hidden;
}

picture {
  display: block;
  text-align: center;
}

// Thank you Chris!
// https://css-tricks.com/full-width-containers-limited-width-parents/

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.bordered {
  border-top: solid 0.3rem #222;
  border-bottom: solid 0.3rem #222;
}

.margin-lr {
  margin-left: 2rem;
  margin-right: 2rem;
}

.margin-tb {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.margin-top-med {
  margin-top: 4rem;
}

.margin-bottom-med {
  margin-bottom: 4rem;
}

.margin-top-large {
  margin-top: 6rem;
}

.margin-bottom-large {
  margin-bottom: 6rem;
}

.padding-lr {
  padding-left: 2rem;
  padding-right: 2rem;
}

.padding-tb {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.padding-top-large {
  padding-top: 4rem;
}

// Navigation

.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .u-unstyled-list;
}

.navigation-item {
  margin-bottom: 0;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;

  a {
    display: block;
    padding: 2rem;
    text-decoration: none;
    transition: background 0.2s;
  }

  a:hover,
  a:active {
    background: #222;
    color: #eee;
  }
}

// Main site wrapper

.site-wrapper {
  max-width: 720px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

// Main header
.main-header {
  .margin-top-large;
  .margin-bottom-large;
  .u-text-center;
}

.main-header-title,
.main-header-description,
.main-header-nav,
.main-footer-nav {
  .margin-lr;
}

@media (min-width: @mobile-width) {
  .main-header-title,
  .main-header-description,
  .main-header-nav,
  .main-footer-nav {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

.main-header-title {
  .bordered;
  .padding-tb;
  .margin-tb;
  display: block;
  text-decoration: none;

  p {
    margin-bottom: 1rem;
  }
}

.main-header-image {
  height: 8rem;

  .margin-tb;
}

.main-header-description {
  margin-bottom: 4rem;
}

.main-header-nav {
  .navigation;
  .bordered;
}

.main-header-nav-item {
  .navigation-item;
}

@media (min-width: @mobile-width) {
  .main-header-image {
    height: 16rem;
  }
}

// Main content
.main-content {
  .padding-top-large;
  .padding-lr;
}

@media (min-width: @mobile-width) {
  .main-content {
    padding-left: 0;
    padding-right: 0;
  }
}

.main-content-feed,
.archive-content-feed {
  .margin-bottom-large;
}

.main-content-feed-item {
  .margin-bottom-large;
}

.main-content-feed-item-pinned,
.main-content-feed-item-updated,
.main-content-feed-item-draft {
  display: block;
  padding: 3rem;
  border-radius: 5px;
  position: relative;

  color: #222;

  &:before {
    display: block;
    content: '';
  }
}

.post-useful-content,
.main-content-feed-item-pinned {
  background: rgb(192, 250, 242);
}

.main-content-feed-item-draft {
  background: rgb(255, 225, 143);

  &:before {
    content: 'DRAFT';
    position: absolute;
    top: 0;
    left: 0;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 0 1rem;
    background: rgba(0, 0, 0, 0.45);
    color: #fff;
  }
}


.main-content-feed-item-updated {
  background: rgb(255, 250, 185);
}

.archive-content-feed {
  ul {
    .u-unstyled-list;
  }
}

.archive-content-feed-item-draft,
.archive-content-feed-item-time {
  display: inline-block;
  width: 12rem;
}

.archive-content-feed-item-draft {
  color: #666;
}

// Main content post/page
.main-content-post,
.main-content-page {
  .margin-bottom-large;

  figure {
    .margin-top-large;
    .margin-bottom-large;
    margin-left: 0;
    margin-right: 0;
  }
}

// Fix lists globally
.main-content-post ol ul,
.main-content-post ul ul,
.main-content-post ol li,
.main-content-post ul li {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-right: 0;
  margin-left: 0;
  padding: 0;
}

.main-content-post ol li,
.main-content-post ul li {
  padding-left: 2rem;
}

.main-content-post li p,
.main-content-post li p {
  display: inline;
}

.page-title,
.page-subtitle {
  display: inline;
}

.page-subtitle {
  color: #666;
}

.post-heading-anchor {
  display: block;
  float: right;
  font-size: 3rem;
  text-decoration: none;
}

.post-date-last-modified {
  color: #aaa;
}

.post-gallery {
  a {
    display: inline-block;
  }
}

// Main footer
.main-footer {
  .u-text-center;
}

.main-footer-nav {
  .navigation;
  .bordered;
  .margin-bottom-large;
}

.main-footer-nav-item {
  .navigation-item;
}

// Post bubbles
.post-author-note,
.post-disclaimer,
.post-useful-content,
.post-updated {
  display: block;
  padding: 3rem;
  border-radius: 5px;
}

// Post author's note
.post-author-note {
  background: rgba(0, 0, 0, 0.5);
  .margin-bottom-med;
}

// Post disclaimer
.post-disclaimer {
  background: rgb(121, 26, 26);
}

.post-author-note,
.post-author-note a,
.post-disclaimer,
.post-disclaimer a {
  color: #eee;
}

.post-useful-content a {
  font-size: 2rem;
}

// Post updated
.post-updated {
  background: rgb(255, 250, 185);
  color: #222;

  &:before {
    display: '';
    content: '';
  }
}

// Images

.styled-image {
  margin-bottom: 2rem;
}

figure {
  .styled-image {
    margin-bottom: 0;
  }

  figcaption {
    margin-top: 1rem;
    .u-text-center;
  }
}

picture a {
  display: inline-block;
}

// Responsive embeds

.responsive-embed {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  margin-bottom: 2rem;
  height: 0;
}
.responsive-embed iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// Custom pages

// Projects

// #projects {
//   // something here soon
// }

.projects-list {
  .u-unstyled-list;
}

.projects-list-item {
  img {
    .margin-tb;
    max-height: 192px;
  }
}

// Photos

// Gallery technique borrowed from https://css-tricks.com/adaptive-photo-layout-with-flexbox/
#photos {
  .photos-container {
    .full-width;

    h2,
    h3 {
      margin-left: 2rem;
    }

    ul {
      .u-unstyled-list;
      margin-bottom: 5rem;
    }

    li {
      margin: 0;
      .u-text-center;
    }

    img {
      vertical-align: bottom;
      width: 100%;
    }
  }
}

@media (min-width: @mobile-width) {
  #photos {
    .photos-container {
      ul {
        display: flex;
        flex-wrap: wrap;
        margin-left: 2rem;
        margin-right: 1.5rem;
      }

      li {
        height: 30rem;
        flex-grow: 1;
        text-align: left;
        margin-bottom: 0.5rem;
        margin-right: 0.5rem;
        position: relative;

        &:last-child {
          flex-grow: 10;
        }

        &.photos-year,
        &.photos-month {
          min-width: 100vw;
        }

        &.photos-year {
          height: 15rem;
        }

        &.photos-month {
          height: 10rem;
        }

        &.photos-year h2,
        &.photos-month h3 {
          min-width: 20rem;
        }

        &.photos-month h3 {
          margin-top: 2rem;
        }
      }

      .photo-overlay {
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 100%;
        transition: box-shadow 0.2s ease-in-out;

        &:hover {
          box-shadow: inset 0 -18rem 10rem -8rem rgba(0, 0, 0, 0.6);

          .photo-overlay-content {
            opacity: 1;
          }
        }
      }

      .photo-overlay-content {
        width: 100%;
        align-self: flex-end;
        text-align: right;
        margin: 1rem;
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
        color: #fff;
      }

      img {
        max-height: 100%;
        min-width: 100%;
        width: auto;
        object-fit: cover;
      }
    }
  }
}

// Swarm Check-ins

.checkin-map-wrapper {
  .checkin-map-loader-wrapper {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1021;
  }

  #checkin_map {
    position: relative;
    z-index: 1020;
  }
}

#checkin_map {
  height: 46rem;
  margin-top: 2rem;
  margin-left: -2rem;
  margin-right: -2rem;
  transition: opacity 0.2s ease;
}

@media (min-width: @mobile-width) {
  .checkin-map-wrapper {
    .full-width;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  #checkin_map {
    height: 60rem;
    margin-top: 4rem;
  }
}

.page-favicon-valley-podcast {
  thead th:last-child,
  tr td:last-child {
    text-align: right;
  }

  tbody tr:last-child {
    font-weight: bold;
    border-top: 1px solid #e1e1e1;
  }
}

@import 'dark-mode.less';
