// 3rd-party
@import (less) 'normalize.css';
@import (less) 'tomorrow-night-eighties.css';

@import 'skeleton.less';

@mobile-width: 550px;


// Main Site CSS

.restricted-width {
  margin: 0 auto;
  width: 600px;
  max-width: 600px;
}

.bordered {
  border-top: solid .3rem #222;
  border-bottom: solid .3rem #222;
}

.margin-lr {
  margin-left: 2rem;
  margin-right: 2rem;
}

.margin-tb {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.margin-top-large {
  margin-top: 6rem;
}

.margin-bottom-large {
  margin-bottom: 6rem;
}

.padding-lr {
  padding-left: 2rem;
  padding-right: 2rem;
}

.padding-tb {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.padding-top-large {
  padding-top: 4rem;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .u-unstyled-list;
}

.navigation-item {
  margin-bottom: 0;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;

  a {
    display: block;
    padding: 2rem;
    text-decoration: none;
    transition: background .2s;
  }

  a:hover,
  a:active {
    background: #222;
    color: #eee;
  }
}

// Restrict site width larger than mobile
@media (min-width: @mobile-width) {
  .main-header,
  .main-footer,
  .main-content-feed,
  .main-content-post,
  .main-content-comments,
  .main-content-page {
    .restricted-width;
  }
}

// Main header
.main-header {
  .margin-top-large;
  .margin-bottom-large;
  .u-text-center;
}


.main-header-title,
.main-header-description,
.main-header-nav,
.main-footer-nav {
  .margin-lr;
}

@media (min-width: @mobile-width) {
  .main-header-title,
  .main-header-description,
  .main-header-nav,
  .main-footer-nav {
    margin-left: 0;
    margin-right: 0;
  }
}

.main-header-title {
  .bordered;
  .padding-tb;

  a {
    text-decoration: none;
  }
}

.main-header-image {
  height: 8rem;

  .margin-tb;
}

.main-header-description {
  margin-bottom: 4rem;
}

.main-header-nav {
  .navigation;
  .bordered;
}

.main-header-nav-item {
  .navigation-item;
}

@media (min-width: @mobile-width) {
  .main-header-image {
    height: 16rem;
  }

  .main-header-title {
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
  }
}

// Main content
.main-content {
  .padding-top-large;
  .padding-lr;
}

.main-content-feed {
  .margin-bottom-large;
}

.main-content-feed-sponsor {
  .margin-bottom-large;
  .u-text-center;
  .padding-tb;
  border: solid .3rem #efefef;

  a {
    display: block;
  }

  p {
    margin-bottom: 0;
  }

  img {
    width: 30rem;
    .margin-tb;
  }
}

.main-content-feed-item {
  .margin-bottom-large;
}

.main-content-pagination-description,
.main-content-pagination {
  .u-text-center;
}

.main-content-pagination {
  .margin-bottom-large;
  .navigation;
}

.main-content-pagination-item {
  .navigation-item;
}


// Main content post/page
.main-content-post,
.main-content-page {
  .margin-bottom-large;

  figure {
    margin-top: 0;
    margin-left: -2rem;
    margin-right: -2rem;
    margin-bottom: 4rem;
  }
}

.main-content-comments {
  .margin-bottom-large;
}

.main-content-comments-button {
  .u-text-center;
}

.page-title,
.page-subtitle {
  display: inline;
}

.page-title {

}

.page-subtitle {
  font-size: 80%;
  color: #666;
}

// Main footer
.main-footer {
  .u-text-center;
}

.main-footer-nav {
  .navigation;
  .bordered;
  .margin-bottom-large;
}

.main-footer-nav-item {
  .navigation-item;
}


// Custom pages

// Check-ins page
#checkin_map {
  height: 46rem;
  margin-top: 2rem;
  margin-left: -2rem;
  margin-right: -2rem;
  transition: opacity .2s ease;
}

@media (min-width: @mobile-width) {
  #checkin_map {
    height: 60rem;
    margin-top: 4rem;
  }
}

// Instagram page
#instagram_images {
  min-height: 46rem;
  margin-top: 6rem;
  margin-left: -2rem;
  margin-right: -2rem;
  transition: opacity .2s ease;
}

.instagram-post {
  .margin-tb;
}

.instagram-link {
  display: inline-block;
}

.instagram-image {
  width: 100vw;
}

.instagram-caption {
  padding-top: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
}

.instagram-tag {

}

@media (min-width: @mobile-width) {
  #instagram_images {
    display: flex;
  	flex-wrap: wrap;
    justify-content: space-around;
  }

  .instagram-post {
    width: calc(50% - 4rem);
    margin-top: 0;
    margin-bottom: 0;
  }
}

// Minecraft page
#mc_map {
  width: 100%;
  height: 60rem;
  margin-top: 2rem;
  transition: opacity .2s ease;
}
