<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#" xmlns:og="http://ogp.me/ns#">
  <head>
    {% include head.html %}
  </head>
  <body
    class="{% if page.body_class %}{{ page.body_class }}{% endif %}"
    itemscope
    itemtype="http://schema.org/WebPage"
  >
    <div class="site-wrapper">
      <div class="sidebar-wrapper">
        {% include header.html %}
        {% include footer.html %}
      </div>
      <div class="body-wrapper">
        {% include body.html %}
      </div>
    </div>
    <a
      class="toggle-dark-mode js-toggle-dark-mode"
      title="Toggle dark mode"
    ></a>
    {% include foot.html %}
  </body>
</html>
