---
layout: base
---

<article class="main-content-page">
  {% if page.subtitle %}
  <div class="page-title-group">
    <h2 class="page-title">
      {{ page.title }}
    </h2>
    <h5 class="page-subtitle">
      {{ page.subtitle }}
    </h5>
  </div>
  {% else %}
  <h2 class="page-title">
    {{ page.title }}
  </h2>
  {% endif %}

  {% include anchor_headings.html html=content beforeHeading=true anchorBody='#' anchorClass='post-heading-anchor' anchorTitle='Link to this section' %}
</article>
