/* Blockquote
–––––––––––––––––––––––––––––––––––––––––––––––––– */
blockquote {
  margin: 0;
  padding: 2rem 4rem;
  background: #e8e8e8;
  border-left: solid .6rem #d1d1d1;

  .bq-cite {
    font-style: italic;
  }

  .bq-cite:before {
    content: '- ';
    padding-left: 2rem;
  }

  pre {
    margin: 2rem -4rem;
    padding: 2rem 4rem;
  }
}
