/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
pre,
code {
  font-family: "Droid Sans Mono", Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", 
      "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono",
      "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
  font-size: 1.4rem;
  color: #eee;
  background: #444;
  text-shadow: .1rem .1rem .1rem rgba(0, 0, 0, .6);
}

pre {
  margin-left: -2rem;
  margin-right: -2rem;
  padding: 4rem 4rem;
  overflow-x: scroll;
}

code {
  padding: .1rem .5rem;
}

pre code {
  padding: 0;
  background: none;
}


@media (min-width: 900px) {
  .highlighter-rouge > pre {
    margin-left: -25%;
    margin-right: -25%;
  }
}

ul .highlighter-rouge,
ol .highlighter-rouge, {
  pre {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
