/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */

a {
  // color: rgba(52, 152, 219, 1);
  color: #222;
  text-decoration: underline;
  transition: all .2s;
}

a:hover,
a:active {
  // color: rgba(37, 116, 169, 1);
  color: #111;
  text-decoration: none;
}
