/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width     { width: 100%;     }
.u-max-full-width { max-width: 100%; }

.u-pull-right { float: right; }
.u-pull-left  { float: left;  }


/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both;
}

// Text utilities
.u-text-center { text-align: center; }
.u-text-left   { text-align: left;   }
.u-text-right  { text-align: right;  }

.u-text-faded  { color: #bbb; }

// Box-model utilites
.u-margin-bottom-none { margin-bottom: 0;}

// List utilities
.u-unstyled-list {
  list-style-type: none;
}
