{% capture description_content %}
  {%- if page.description -%}
    {{ page.description }}
  {%- elsif page.excerpt -%}
    {{ page.excerpt | strip_html | strip_newlines | xml_escape }}
  {%- else -%}
    {{ site.meta_description }}
  {%- endif -%}
{% endcapture %}

{% capture share_image %}
  {%- if page.is_post -%}
    {%- if page.share_image -%}
      {{ page.share_image }}
    {%- else -%}
      {{ '/share/post-'| append: page.slug | prepend: site.assets_media | absolute_url | append: '.png' }}
    {%- endif -%}
  {%- else -%}
    {{ site.avatar_img | prepend: site.assets_media }}
  {%- endif -%}
{% endcapture %}

{%- if page.is_post -%}
  {% assign type = "article" %}
{%- else -%}
  {% assign type = "website" %}
{%- endif -%}

<meta name="description" content="{{ description_content }}">
{% if page.is_post %}
<meta name="date" content="{{ page.date | date: '%b %-d, %Y' }}">
{% if page.date_modified %}
  <meta name="revised" content="{{ page.date_modified | date: '%b %-d, %Y' }}">
</span>
{% endif %}
{% endif %}

<!-- Open Graph -->
<meta property="og:type" content="{{ type }}" />
{% if page.url %}
<meta property="og:url" content="{{ page.url | absolute_url }}">
{% endif %}
<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta property="og:description" content="{{ description_content }}">
<meta property="og:image" content="{{ share_image }}">
{% if page.is_post %}
<meta property="og:site_name" content="{{ site.title }}" />
{% endif %}

<!-- Twitter Cards  -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@{{ site.social.twitter }}" />
<meta name="twitter:creator" content="@{{ site.social.twitter }}" />
<meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
<meta name="twitter:description" content="{{ description_content }}" />
<meta name="twitter:image" content="{{ share_image }}">
