<!DOCTYPE html>
<html lang="en-US"
      prefix="og: http://ogp.me/ns#"
      xmlns:og="http://ogp.me/ns#"
      {% if !site.debug %}manifest="{{ "/auto.appcache" | prepend: site.baseurl | prepend: site.url }}"{% endif %}>
  <head>
    {% include head.html %}
  </head>
  <body{% if page.body_class %} class="{{ page.body_class }}"{% endif %} itemscope itemtype="http://schema.org/WebPage">

    <div class="left-container">
      {% include header.html %}
      {% include footer.html %}
    </div>

    <div class="right-container">
      <main class="site-content" role="main" itemprop="mainContentOfPage">
        <section itemscope itemtype="http://schema.org/Blog">
          {{ content }}
        </section>
      </main>
    </div>

    {% include foot.html %}
  </body>
</html>
